<div class="sessao-adm">

    <h2>NOVA MATÉRIA</h2>
    <form action="/admin/materia/adicionar" class="main-form" method="POST">
    <fieldset>
        <legend>Nova Materia</legend>
        <div class="form-group">
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div class="form-group">
            <label for="carga_horaria">Carga Horaria: </label>
            <input type="text" id="cargahoraria" name="carga_horaria" required>
        </div>
        <div class="form-group">
            <label for="curso">Cursos: </label>
        </div>
        <div>
            {{#each cursos}}
                <input type="checkbox" value="{{id}}" name="cursos"> <label for="{{nome}}">{{nome}}</label><br>
            {{else}}
            {{/each}}
        </div>
        <div class="button">
            <input type="submit" value="Enviar">
        </div>
    </fieldset>
</form>
</div>