<div class="menu">
        <a href="../auth/signup"> NOVO USUÁRIO</a> /
        <a href="/admin/aluno"> ALUNO</a> / 
        <a href="/admin/curso"> CURSO </a> / 
        <a href="/admin/materia"> MATÉRIA </a> /
        <a href="/admin/faleadm"> FALE </a> /
        <a href="/admin/comentarios"> COMENTARIOS </a> /
        <a href="/auth/logout"> LOGOUT</a>
</div>