<div class="menu">
        <a href="/home">HOME</a> /
        <a href="/noticias">NOTÍCIAS</a> /
        <a href="/fale">FALE CONOSCO</a> /
        <a href="/comentarios"> COMENTÁRIOS</a> /
        <a href="/login"> LOGIN</a>
</div>