<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNI PONTALINA</title>

    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/estiloadm.css">

</head>
<body>
    {{>navbarprofessor}}
    {{>_msg}}
    {{{body}}}
</body>
</html>