<div class="caixa3" id="fale">
        <div class="sessao-fale">
            <h1>Fale Conosco</h1>

            <div class="conteudo-fale">
                <form action="/novocontato" name="myForm" class="main-form" method="POST">
                    <fieldset>
                        <legend>Solicitação de contato</legend>
            
                        <div class="form-group">
                            <label for="nome">Nome: </label>
                            <input type="text" id="nome" name="nome" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail: </label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="mensagem">Mensagem: </label>
                            <textarea id="mensagem" name="mensagem" rows="4" cols="50" required></textarea>
                        </div>
                        <div class="button">
                            <input  type="submit" value="Enviar">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>