<div class="caixa1" id="home">
        <div class="conteudo-home">
            <h1><span class="uni">UNI</span><span class="pon">PONT</span></h1>
            <span class="nome-facul"> universidade Pontalina</span>
            <address> Rua E, Qd 22, Lt 10 - Jardim Frei Walter</address>

            <div class="sessao-imagens">
                <div class="home-imagens" id="home1">
                    <h4>Seu futuro está aqui!</h4>
                    <img src="../imagens/home1.jpg" alt="1">
                </div>
                <div class="home-imagens" id="home2">
                    <h4>Venha fazer parte da família!</h4>
                    <img src="../imagens/home2.jpg" alt="2">
                </div>
                <div class="home-imagens" id="home3">
                    <h4>conquiste o seu diploma!</h4>
                    <img src="../imagens/home3.jpg" alt="3">

                </div>
            </div>

        </div>
    </div>
    <div class="conteudo">
        <h3>UNIPONT - Universidade Pontalina</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur alias, laboriosam facilis saepe
            sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio numquam autem corrupti nemo
            veritatis, rem delectus adipisci. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
            alias, laboriosam facilis saepe sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio
            numquam autem corrupti nemo veritatis, rem delectus adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur alias, laboriosam facilis saepe
            sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio numquam autem corrupti nemo
            veritatis, rem delectus adipisci. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
            alias, laboriosam facilis saepe sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio
            numquam autem corrupti nemo veritatis, rem delectus adipisci.</p>
    </div>