
<div class="sessao-login">
    <div class="conteudo-login">
        <h1>FAÇA O LOGIN: </h1>
                    <form action="/login" name="myForm" class="main-form" method="POST">
                        <fieldset>
                            <legend>Digite seu e-mail e senha</legend>
                
                            <div class="form-group">
                                <label for="email">E-mail: </label>
                                <input type="text" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha: </label>
                                <input type="password" name="senha" id="senha">
                            </div>
                            <div class="button">
                                <input  type="submit" value="Enviar">
                            </div>
                        </fieldset>
                    </form>
                    <br>
    </div>
</div>

