<div class="caixa2" id="noticias">
        <div class="sessao-noticias">
            <h1>Notícias</h1>
            <div class="noticias">
                <div class="conteudo-noticias" id="noticia1">
                    <h4>noticia 1</h4>
                    <img src="imagens/img-noticia1.jpg" alt="">
                    <div class="texto">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eaque doloribus neque ullam!
                            Voluptatum fugiat ipsa, voluptatem accusantium commodi aliquid omnis aliquam exercitationem
                            temporibus</p>
                    </div>
                </div>
                <div class="conteudo-noticias" id="noticia1">
                    <h4>noticia 2</h4>
                    <img src="imagens/img-noticia2.jpg" alt="">
                    <div class="texto">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eaque doloribus neque ullam!
                            Voluptatum fugiat ipsa, voluptatem accusantium commodi aliquid omnis aliquam exercitationem
                            temporibus</p>
                    </div>
                </div>
                <div class="conteudo-noticias" id="noticia1">
                    <h4>noticia 3</h4>
                    <img src="imagens/img-noticia3.jpg" alt="">
                    <div class="texto">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eaque doloribus neque ullam!
                            Voluptatum fugiat ipsa, voluptatem accusantium commodi aliquid omnis aliquam exercitationem
                            temporibus</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="conteudo">
        <h3>Notícias</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur alias, laboriosam facilis saepe
            sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio numquam autem corrupti nemo
            veritatis, rem delectus adipisci. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
            alias, laboriosam facilis saepe sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio
            numquam autem corrupti nemo veritatis, rem delectus adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur alias, laboriosam facilis saepe
            sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio numquam autem corrupti nemo
            veritatis, rem delectus adipisci. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
            alias, laboriosam facilis saepe sapiente vel ipsum consectetur! Laudantium sit ex aperiam distinctio
            numquam autem corrupti nemo veritatis, rem delectus adipisci.</p>
    </div>