{{!-- Conteúdo específico da página de Adicionar Curso do usuário Aluno --}}

{{> navbaradm}}
<main>
  <h1>Adicionar Curso</h1>
  {{!-- Conteúdo específico da página de Adicionar Curso --}}
</main>
{{> _msg}}
