{{!-- Conteúdo específico da página de Trancar Curso do usuário Aluno --}}

{{> navbaradm}}
<main>
  <h1>Trancar Curso</h1>
  {{!-- Conteúdo específico da página de Trancar Curso --}}
</main>
{{> _msg}}
